<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="RNC Feeds Rule Set" Description="Rule set for Risk and Compliance Feeds C# Code" ToolsVersion="14.0">
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
        <Rule Id="SA0001" Action="None" />  <!-- XML comment analysis is disabled due to project configuration -->
        <Rule Id="SA1025" Action="None" />  <!-- Code should not contain multiple whitespace characters in a row -->
        <Rule Id="SA1101" Action="None" />  <!-- Prefix local calls with this -->
        <Rule Id="SA1116" Action="None" />  <!-- The parameters should begin on the line after the declaration... -->
        <Rule Id="SA1117" Action="None" />  <!-- The parameters should all be placed on the same line... -->
        <Rule Id="SA1413" Action="None" />  <!-- Use trailing comma in multi-line initializers -->
        <Rule Id="SA1502" Action="None" />  <!-- Element should not be on a single line -->
        <Rule Id="SA1507" Action="None" />  <!-- Code should not contain multiple blank lines in a row -->
        <Rule Id="SA1512" Action="None" />  <!-- Single-line comments should not be followed by blank line -->
        <Rule Id="SA1516" Action="None" />  <!-- Elements should be separated by blank line -->
        <Rule Id="SA1517" Action="None" />  <!-- Code should not contain blank lines at start of file -->
        <Rule Id="SA1600" Action="None" />  <!-- Elements should be documented -->
        <Rule Id="SA1601" Action="None" />  <!-- Partial elements should be documented -->
        <Rule Id="SA1633" Action="None" />  <!-- The file header is missing or not located at the top of the file -->
    </Rules>
</RuleSet>
